sr-robot3==2026.0.3
april_vision==3.0.0
opencv-python-headless >=4.10,<5

# Library versions are selected to provide support for Python 3.10-3.13

flask==2.3.3
matplotlib==3.10.6
networkx==3.1
numpy>=2.2.6,<=2.3.2
pandas==2.3.2  # no 3.14 support
pillow==11.3.0
scikit-learn==1.7.1  # no 3.14 support
scipy>=1.15.3,<=1.16.1
shapely==2.1.1  # no 3.14 support
